*{
    margin: 0;
    padding: 0;
}
.box{
    border: 4px solid rebeccapurple;
    width: 100vw;
    background-color: rgb(143, 161, 143);
    margin: auto;
}
.box2{
    border: 1px solid fuchsia;
    width: 20vw;
    background-color: yellowgreen;
    margin: 20px auto;
}