*{
    margin: 0;
    padding: 0;
}
.xyz{
    background-color: blueviolet;
    color: red;
    padding: 10px;
    margin: 10px;
    border: 6px solid green;  

}
.abc{
    background-color: brown;
    color: black;

}